.idea/
.ipynb_checkpoints/
# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.sqlite3  # Django's default database (if you're using SQLite)
db.sqlite3  # Common name for Django SQLite database